<p-toolbar>
  <div class="p-toolbar-group-start">
      <button pButton label="Catálogo"
              icon="pi pi-book"
              pTooltip="Ver los juegos disponibles."
              class="mr-2"
              (click)="loadCatalog()"></button>
  </div>
  <div class="p-toolbar-group-end">
    <button pButton label="Inicio"
            icon="pi pi-home"
            pTooltip="Ir a la página de inicio."
            class="mr-2"
            (click)="loadHome()"></button>
    <button pButton label="Carrito"
            icon="pi pi-shopping-cart"
            pTooltip="Carrito de compras."
            class="mr-2"
            routerLink="/store/cart"></button>
  </div>
</p-toolbar>
