<p-toast></p-toast>
<h1> Juegos</h1>
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left"></ng-template>
  <ng-template pTemplate="right">
      <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="createGame()"></button>
  </ng-template>
</p-toolbar>
<p-table
  [value]="games_catalog"
  [tableStyle]="{'min-width':'50rem'}"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} juegos"
  [rowsPerPageOptions]="[5, 10, 15]">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Desarrollador</th>
      <th>Año</th>
      <th>Precio</th>
      <th>Plataformas</th>
      <th>Acción</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-game>
    <tr>
      <td>{{game.id}}</td>
      <td>{{game.name}}</td>
      <td>{{game.developer | uppercase}}</td>
      <td>{{game.year}}</td>
      <td>{{game.price | currency}}</td>
      <td>{{game.platforms}}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          severity="warning"
          pTooltip="Modificar"
          tooltipPosition="bottom"
          (onClick)="updateGame(game)">
        </p-button>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          severity="danger"
          pTooltip="Eliminar"
          tooltipPosition="bottom"
          (onClick)="deleteGame(game)">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="game_dialog"
  [style]="{width: '750px'}"
  header="Datos del juego (* obligatorio)"
  [modal]="true">
  <ng-template pTemplate="content">
    <form [formGroup]="game_form">
      <br/>
      <div class="formgrid grid">
        <div class="field col-12 mt-2">
          <span class="p-float-label">
            <input
              pInputText
              id="name"
              type="text"
              class="inputfield w-full"
              formControlName="name"
              required
              autofocus
            />
            <label for="name">* Nombre del juego</label>
            <small *ngIf="game_form.get('name')!.hasError('required')" class="p-error">
              El nombre es obligatorio.
            </small>
          </span>
        </div>
        <div class="field col-12 md:col-6 mt-2">
          <span class="p-float-label">
            <input
              pInputText
              id="developer"
              type="text"
              class="inputfield w-full"
              formControlName="developer"
              autofocus
            />
            <label for="developer">Fabricante</label>
            <small class="p-error">
              {{ admin_service.getErrors(game_form.controls['developer'], 'Fabricante') }}
            </small>
          </span>
        </div>
        <div class="field col-12 md:col-3 mt-2">
          <span class="p-float-label">
            <input
              pInputText
              id="year"
              type="text"
              class="inputfield w-full"
              formControlName="year"
              autofocus
            />
            <label for="year">* Año</label>
            <small class="p-error">
              {{ admin_service.getErrors(game_form.controls['year'], 'Año') }}
            </small>
          </span>
        </div>
        <div class="field col-12 md:col-3 mt-2">
          <span class="p-float-label">
            <input
              pInputText
              id="price"
              type="text"
              class="inputfield w-full"
              formControlName="price"
              autofocus
            />
            <label for="price">* Precio</label>
            <small class="p-error">
              {{ admin_service.getErrors(game_form.controls['price'], 'Precio') }}
            </small>
          </span>
        </div>
        <div class="field col-12 md:col-6 mt-2">
          <small class="p-error">
            {{ admin_service.getErrors(game_form.controls['type'], 'Tipo') }}
          </small>
          <p-fieldset legend="* Tipo">
            <div *ngFor="let type of types_catalog" class="field-checkbox">
              <p-checkbox
                name="group"
                [value]="type"
                formControlName="type"
                [(ngModel)]="selected_types">
              </p-checkbox>
              <label [for]="type">{{ type }}</label>
            </div>
          </p-fieldset>
        </div>
        <div class="field col-12 md:col-6 mt-2">
          <small class="p-error">
            {{ admin_service.getErrors(game_form.controls['platform'], 'Plataforma') }}
          </small>
          <p-fieldset legend="* Plataformas">
            <div *ngFor="let platform of platforms_catalog" class="field-checkbox">
              <p-checkbox
                name="group"
                [value]="platform"
                formControlName="platform"
                [(ngModel)]="selected_platforms">
              </p-checkbox>
              <label [for]="platform">{{ platform }}</label>
            </div>
          </p-fieldset>
        </div>
        <div class="field col-12 mt-2">
          <span class="p-float-label">
            <textarea
              pInputText
              id="description"
              type="text"
              class="inputfield w-full"
              formControlName="description"
              autofocus>
            </textarea>
            <label for="description">Descripción</label>
          </span>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton
      icon="pi pi-check"
      label="Guardar"
      class="p-button-text"
      (click)="saveGame()"
      [disabled]="game_form.invalid"
    ></button>
  </ng-template>
</p-dialog>
