<router-outlet></router-outlet>

<!--
<body>
  {{title}}
  <br>
  <p *ngIf="show_description">{{description}}</p>
  <p *ngIf="!show_description">No hay descripción.</p>
  <br>
  <input  [(ngModel)]="input_text" />
  <br>
  <br>
  <ol>
    <li *ngFor="let name of game_names">
      {{name}}
    </li>
  </ol>
  <br>
  <div *ngFor="let name of game_names">
    {{name}}
  </div>
  <br>
  <button (click)="Clicking()">Haz clic</button>
  <br>
  <input (input)="Writing($event)" placeholder="Escribe algo..."/>
  <br>
  <p (mouseover)="MousePassing()" (mouseout)="MouseExiting()">Eventos del puntero.</p>
</body>
-->
